/* Base */
* { box-sizing: border-box;}
body,
h1 {
    margin: 2rem 0 1rem 0;
    text-align: center;
}
h1 {
    padding: 0.35em;
} 
#sketch-holder{ 
    margin: auto; 
}
canvas {
    border-radius: 20px;  
    object-fit: cover; 
   min-width:300px;
    width:100%; 
    max-width:600px;
}
footer{ 
    width:clamp(200px, 90%, 800px);
    margin:2rem auto;
}

/* navigation */
nav {
    padding: 1em;
}

/* Espace du codeur */
.codeur {
    display: flex;
    justify-content: center;
}

.codeur figure {
    margin: 0 1em 0 0;
    text-align: right;
    width: 175px;
}

.codeur__avatar {
    width: 80px
}

.codeur__texte {
    width: 425px;
    text-align: left;
    background-color: #ededed;
    background: linear-gradient(90deg, rgba(237, 237, 237, 1) 70%, rgba(255, 255, 255, 1) 95%);
    font-size: 1.25em;
    padding: 1em;
    border-radius: 10px;
    border-left: 5px dashed maroon;
    min-height: 260px;
}


/* Titre du site */
span {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
}

.r {
    font-weight: 900;
    color: maroon;
    transform: scale(1.25);
}

.o1 {
    font-weight: 400;
    color: rgb(255, 50, 0);
    transform: rotate(-20deg) skew(5deg);
}

.b {
    font-weight: 400;
    color: rgb(114, 9, 163);
    transform: scaleY(1.2);
}

.o2 {
    color: rgb(251, 153, 16);
    transform: rotate(25deg);
}

.t {
    font-weight: 100;
    transform: skew(15deg) scale(1.25);
    color: rgb(51, 102, 243);
}

.s {
    font-weight: 700;
    transform: skew(-15deg);
    color: rgb(97, 188, 6);
    padding-right: 0.15em;
}